<header>
  <div id="logo">
    <div id="divLogo">
      <img src="/img/pokeball.png" alt="pokeball" class="pokeball" />
      <a href="/">
        <h1>Pokedex</h1>
      </a>
      <img src="/img/pokeball.png" alt="pokeball" class="pokeball" />
    </div>
    <div id="divNav">
      <nav>
        <ul>
          <a href="/">
            <li>Home</li>
          </a>
          <a href="/cadastrar">
            <li>Cadastrar</li>
          </a>
        </ul>
      </nav>
    </div>
  </div>
</header>
